.navbar ul {
  padding: 5px;
  background-color: #333;
  justify-content: center;
  display: flex;
}
.navbar {
  background-color: #333;
  box-shadow: 6px 6px 10px beige;
}

.navbar nav {
  display: inline-block;
  width: 80%;
}
.navbar nav ul li {
  display: inline;

  padding-left: 20px;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
}
.navbar nav ul li a:hover {
  color: yellow;
  text-decoration: underline;
}
.navbar nav ul li a:active {
  text-decoration: underline;
  color: yellow;
}

.logo {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 16px;
}

.banner {
  background-image: url(banner.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 300px;
  width: 100%;
}
.banner_p1 {
  font-size: 25px;
  padding-top: 30px;
}
.banner_p2 {
  font-size: 15px;
  padding-top: 10px;
}
.banner_p3 {
  font-size: 10px;
  padding-top: 10px;
}
.banner_p4 {
  font-size: 8px;
  padding-top: 20px;
}

.introduction_container {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.introduction_container > span {
  width: 4%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 360px;
  border: 5px solid #ffe800;
  background-color: black;
  color: #ffe800;
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
}

.title {
  text-align: center;
}
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 40px;
  align-content: space-evenly;
}

.grid-item-item1 {
  grid-column: 1/3;
  background-color: black;
  text-align: center;
}
.grid-item-item2 {
  grid-row: 2/3;
  background-color: black;
}

.grid-item-item4 {
  grid-column: 2/3;
  background-color: black;
}

.grid-item-item5 {
  grid-column: 1/3;
  background-color: black;
  text-align: center;
}

.grid-item-item3 {
  grid-row: 1/3;
  grid-column: 3/4;
  background-color: black;
}
.grid-item-item6 {
  background-color: black;
}

.info {
  color: #ffe800;
  background-color: black;
  text-align: center;
}

.contact_msg {
  font-size: 20px;
  padding-top: 15px;
}
.num {
  font-size: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .navbar{
    flex-direction: column;
    display: flex;
   
  }
  .logo{
    width: 15%;
    padding-top: 10px;
    align-self: center;
  }
  .navbar nav{
    width: 100%;
  }
  .info {
    font-size: smaller;
  }
  
  .banner {
    background-image: url(banner2.jpg);
  }
  .introduction_container > span{
    border: 5px solid rgb(254,32,32);
    color: white;
  }
  .introduction_container{
    font-size: smaller;
  }
  .title{
    font-size: 25px;

  }
  .grid-container{
    font-size: smaller;
  }
}


