.navbar ul {
  padding: 5px;
  background-color: #333;
  justify-content: center;
  display: flex;
}
.navbar {
  background-color: #333;
  box-shadow: 2px 2px 10px beige;
}

.navbar nav {
  display: inline-block;
  width: 80%;
}
.navbar nav ul li {
  display: inline;

  padding-left: 20px;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
}
.navbar nav ul li a:hover {
  color: yellow;
  text-decoration: underline;
}
.navbar nav ul li a:active {
  text-decoration: underline;
  color: yellow;
}

.logo {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 16px;
}

.banner {
  background-image: url(banner.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 300px;
}
.banner_p1 {
  font-size: 25px;
  padding-top: 30px;
}
.banner_p2 {
  font-size: 15px;
  padding-top: 10px;
}
.banner_p3 {
  font-size: 10px;
  padding-top: 10px;
}
.banner_p4 {
  font-size: 8px;
  padding-top: 20px;
}

.introduction_container {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.introduction_container > span {
  width: 4%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 360px;
  border: 5px solid #CCCC00;
  background-color: black;
  color: yellow;
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
}


.title{
    text-align: center;
}
.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 40px;
    align-content: space-evenly;
   
   
}

.grid-item-item1{
    grid-column: 1/3;
    background-color: black;
   text-align: center;
   
}
.grid-item-item2{
    grid-row: 2/3;
    background-color: black;
}

.grid-item-item4{
    grid-column: 2/3;
    background-color: black;
   
}

.grid-item-item5{
    grid-column: 1/3;
    background-color: black;
    text-align: center;
   
   
}

.grid-item-item3{
    grid-row: 1/3;
    grid-column: 3/4;
    background-color: black;
}
.grid-item-item6{
    background-color: black;
}
