.navbar ul {
  padding: 5px;
  background-color: #333;
  justify-content: center;
  display: flex;
}
.navbar {
  background-color: #333;
  box-shadow: 2px 2px 10px beige;
}

.navbar nav {
  display: inline-block;
  width: 80%;
}
.navbar nav ul li {
  display: inline;

  padding-left: 20px;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
}
.navbar nav ul li a:hover {
  color: yellow;
  text-decoration: underline;
}
.navbar nav ul li a:active {
  text-decoration: underline;
  color: yellow;
}

.logo {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 16px;
}

.banner {
  background-image: url(banner.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 300px;
}
.banner_p1 {
  font-size: 25px;
  padding-top: 30px;
}
.banner_p2 {
  font-size: 15px;
  padding-top: 10px;
}
.banner_p3 {
  font-size: 10px;
  padding-top: 10px;
}
.banner_p4 {
  font-size: 8px;
  padding-top: 20px;
}

.introduction_container {
  text-align: center;
}

.introduction_container > span {
  width: 2%;
  height: 100%;
  border-radius: 360px;
  border: 3px solid yellow;
  background-color: black;
  color: yellow;
  font-weight: bold;
  display: block;
}
